{
  "presets": [["es2015", { "modules": false }], "react"],
  "env": {
    "development": {
      "plugins": [["transform-es2015-modules-commonjs", { "loose": true }]]
    },
    "test": {
      "plugins": [["transform-es2015-modules-commonjs", { "loose": true }]]
    },
    "production": {
      "plugins": [["transform-es2015-modules-commonjs", { "loose": true }]]
    },
    "build": {
      "plugins": ["external-helpers", ["styled-components", { "minify": true }]]
    }
  }
}
