{
  "presets": ["react", ["es2015", { "modules": false }]],
  "env": {
    "test": {
      "plugins": [["transform-es2015-modules-commonjs", { "loose": true }]]
    },
    "development": {
      "plugins": ["external-helpers"]
    },
    "production": {
      "plugins": ["external-helpers"]
    }
  }
}
